<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804683044288-9rmp829qibk7qn623l4gcsugkagc7p4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804683044288-9rmp829qibk7qn623l4gcsugkagc7p4e</string>
	<key>API_KEY</key>
	<string>AIzaSyAo1JJAbsVY2yt1NEqK28KkUszBgifiXDw</string>
	<key>GCM_SENDER_ID</key>
	<string>804683044288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comit</string>
	<key>PROJECT_ID</key>
	<string>comit-267513</string>
	<key>STORAGE_BUCKET</key>
	<string>comit-267513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804683044288:ios:8cbb231992256d29722425</string>
	<key>DATABASE_URL</key>
	<string>https://comit-267513.firebaseio.com</string>
</dict>
</plist>