<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501447602118-otgsdns8g0iteoegrjmkhb9t27atjnha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501447602118-otgsdns8g0iteoegrjmkhb9t27atjnha</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>501447602118-1oic130dria3b2n04a0f9bt3ta62pc34.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhd3yNTgPjijxEMgRT7-8yjKCKRNTcKlc</string>
	<key>GCM_SENDER_ID</key>
	<string>501447602118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.andrea</string>
	<key>PROJECT_ID</key>
	<string>andrea-f1d75</string>
	<key>STORAGE_BUCKET</key>
	<string>andrea-f1d75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501447602118:ios:f4cfbbaac58fd55dd38cc7</string>
	<key>DATABASE_URL</key>
	<string>https://andrea-f1d75.firebaseio.com</string>
</dict>
</plist>